pkgbase = dota2cfgchanger
	pkgdesc = Copy Dota 2 settings between Steam accounts
	pkgver = 1.22
	pkgrel = 2
	url = https://github.com/OutTuna/Dota2CFGChanger
	arch = x86_64
	license = MIT
	checkdepends = python
	makedepends = cmake
	makedepends = ninja
	makedepends = nlohmann-json
	depends = glibc
	depends = libgcc
	depends = libstdc++
	depends = curl
	depends = glfw
	depends = libglvnd
	depends = openssl
	depends = ttf-dejavu
	depends = hicolor-icon-theme
	optdepends = zenity: graphical folder picker
	optdepends = kdialog: alternative graphical folder picker
	options = !debug
	source = dota2cfgchanger-1.22.tar.gz::https://codeload.github.com/OutTuna/Dota2CFGChanger/tar.gz/refs/tags/v1.22
	source = cpr-1.11.1.tar.gz::https://codeload.github.com/libcpr/cpr/tar.gz/refs/tags/1.11.1
	source = imgui-1.91.6.tar.gz::https://codeload.github.com/ocornut/imgui/tar.gz/refs/tags/v1.91.6
	source = stb-2c980bb59875b0d32144a71867fbdebb2f77cd20.tar.gz::https://codeload.github.com/nothings/stb/tar.gz/2c980bb59875b0d32144a71867fbdebb2f77cd20
	source = packaging-support.patch
	sha256sums = c14f0702dbaac396d21a467e2a15d9bc9bb4d241e22401bd587c55f42cb80307
	sha256sums = e84b8ef348f41072609f53aab05bdaab24bf5916c62d99651dfbeaf282a8e0a2
	sha256sums = c5fbc5dcab1d46064001c3b84d7a88812985cde7e0e9ced03f5677bec1ba502a
	sha256sums = 9a955b1b49a4410088a2e0ee2a9c057c3c907d0c1d75454144cb980aca0ba515
	sha256sums = 9c1d0e93194e93aa12cc91f38740889302488e53151796d39b1491f1a5bcd8d4

pkgname = dota2cfgchanger
